<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>728785883812-de6gj2cqpki31aek4s3ee1e6les99ou5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.728785883812-de6gj2cqpki31aek4s3ee1e6les99ou5</string>
	<key>API_KEY</key>
	<string>AIzaSyB4Pdus6k6KX3J9ab3kdhrExxFqShtsK5w</string>
	<key>GCM_SENDER_ID</key>
	<string>728785883812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ademtarhan.NoteS</string>
	<key>PROJECT_ID</key>
	<string>notes-ad014</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-ad014.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:728785883812:ios:298d5138ed578b05604c31</string>
</dict>
</plist>